@import "../../assets/base/colors.scss";

.dropdown {
  position: relative;
  margin-bottom: 19px;

  .dropdown-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px $paleGrey;
    padding: 10px;
    cursor: pointer;
    transition: color 0.2s ease-out, border-color 0.2s ease-out;
    overflow: visible;
  }

  .dropdown-input {
    @extend .dropdown-select;
    width: 100%;
    font-size: 1rem;
    font-family: FedraSans;
    cursor: text;
    &:focus {
      outline: none;
      border: solid 1px $softGreen;
    }
  }

  .dropdown-icon {
    display: inline-flex;
    align-items: center;
    width: 7px;
    transition: all 0.3s ease-out;
  }

  .menu {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 32px;
    left: 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 7px 15px 0 rgba(24, 25, 26, 0.22);
    max-height: 0;
    overflow: hidden;
    transition: all .45s cubic-bezier(0.23, 1, 0.32, 1), padding 0.3s linear;
    & > div:first-child {
      margin-top: 5px;
    }
    & > div:last-child {
      margin-bottom: 5px;
    }
  }

  .menu-item {
    font-size: 1rem !important;
    min-height: 30px !important;
    line-height: 30px !important;
    user-select: none;
  }

  &.open {
    .dropdown-select:not(.dropdown-input) {
      border: solid 1px $softGreen;
    }

    .dropdown-icon {
      transform: rotate(180deg);
    }

    .menu {
      max-height: 700px;
      transition: all 3s cubic-bezier(0.23, 1, 0.32, 1);
    }

  }

  &.cell {
    .menu {
      top: 58px;
    }
    .dropdown-select {
      border: none;
      border-color: transparent;
      height: 58px;
      color: $steel;
      padding: 17px;
    }
    .menu-item {
      font-size: 1rem !important;
      min-height: 58px !important;
      line-height: 58px !important;
    }
    .dropdown-icon {
      visibility: hidden;
    }
    &.open {
      .dropdown-icon {
        visibility: visible;
      }
      .dropdown-select {
        padding: 16px;
        color: $darkGrey;
      }
    }
  }

}