@import "../../assets/base/colors.scss";

.portfolio-table {

  & > div {
    border-radius: 2px;
  }

  & > div > div:last-child {
      overflow: visible !important;
  }

  .table-body {
    tr:nth-child(odd) {
      background: rgba(221, 223, 225, 0.12);
    }
  }

  .cell-content {
    display: flex;
    align-items: center;
    .icon,
    .title {
      display: inline-block;
    }
  }

  .cell-header-content {
    @extend .cell-content;
    .icon,
    .title {
      position: relative;
      left: -12px;
    }
  }

  .header-button {
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }
  }

}

.portfolio-header-popover {
  & > div {
    overflow: visible !important;
  }

  .popover-title {
    font-size: 13px;
    color: $coolGreyTwo;
    margin-bottom: 7px;
  }

  .clear-block {
    text-align: center;
  }

  .clear {
    color: $dustyOrange;
    text-decoration: none;
    cursor: pointer;
  }
}