@import "../../assets/base/colors.scss";

:global {
  .auto-complete-input{
    display: inline-block;
    background-color: #fff;
    width: 100%;
    .text-input{
      box-sizing: border-box;
      border: 1px solid $paleGrey;
      transition: border-color .2s ease-out;
      &.focused{
        border-color: $softGreen;
      }
    }
  }

  .auto-complete-menu {
    & > div > span > div {
      width: 100%;
      & > div > div {
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
      }
    }
  }
}