@import "./colors.scss";

html {
  box-sizing: border-box;
  font-family: FedraSans, 'sans-serif';
  font-size: 14px;
  background: $mainBackground;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html,
body,
#root,
.app-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.pages-container {
  height: calc(100% - 80px);
  overflow: hidden;
}

.--padding {
  padding: 20px;
}

a,
button {
  user-select: none;
}