:global {
  .employes-tasks {
    display: flex;
    flex-direction: column;
    .employes-header {
      padding-right: 15px;
      width: 100%;
      display: table;
      border-collapse: separate;
      border-spacing: 20px 0;
      .employes-header-title {
        display: table-cell;
        min-width: 400px;
        font-size: 1.142rem;
        font-weight: 500;
        padding: 20px 10px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
      }
    }
  }
}