@import "../../assets/base/colors";

:global {
  .plan-next-month-wrapper {
    height: 100%;
    position: relative;
    padding: 0 20px 20px 20px;
    overflow-y: auto;
    .tasks-empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .tasks-empty-title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 1.285rem;
        color: $darkGrey;
      }
    }
    .plan-next-month-block {
      max-width: 432px;
      margin: 0 auto;
    }
    .plan-next-month-footer {
      display: flex;
      position: fixed;
      z-index: 999;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 73px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      box-shadow: 0px -4px 8px 0 rgba(164, 168, 171, 0.1);
    }
  }
}