@import "../../assets/base/colors.scss";

.progress-chart {
  position: relative;

  .content {
    position: absolute;
    top: 33px;
    left: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 234px;
    height: 234px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding: 0 20px;
  }

  .title {
    margin: 10px 0 10px 0;
    font-size: 3.4rem;
    font-weight: 500;
    text-align: center;
    color: $softGreen;

  }

  .sub-title {
    font-size: 1.143rem;
    font-weight: 500;
    text-align: center;
    color: $darkGrey;
    text-transform: uppercase;
    line-height: normal;
  }

}