<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="portfolio(.*)" />
                    <action type="Rewrite" url="https://sbermon.everpoint.ru" />
                </rule>
				<rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="map(.*)" />
                    <action type="Rewrite" url="https://sbermon.everpoint.ru" />
                </rule>
				<rule name="ReverseProxyInboundRule3" stopProcessing="true">
                    <match url="employees(.*)" />
                    <action type="Rewrite" url="https://sbermon.everpoint.ru" />
                </rule>
				<rule name="ReverseProxyInboundRule4" stopProcessing="true">
                    <match url="inspections(.*)" />
                    <action type="Rewrite" url="https://sbermon.everpoint.ru" />
                </rule>
				<rule name="ReverseProxyInboundRule5" stopProcessing="true">
                    <match url="analytic(.*)" />
                    <action type="Rewrite" url="https://sbermon.everpoint.ru" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
