@import "../../assets/base/colors.scss";

:global {
  .inspections-header {
    padding: 40px 30px 0 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(164, 168, 171, 0.1);

    .inspections-tabs {
      display: inline-block;
      padding-bottom: 20px;
      .inspections-tabs-item {
        padding-right: 30px;
        user-select: none;
        display: inline-block;
        font-size: 1.285rem;
      }
    }

    .inspections-control {
      float: right;
      display: flex;
      padding: 0 15px 20px 0;
    }

    .section {
      display: flex;
      width: 90px;
      justify-content: space-between;
      &:first-child,
      &:last-child {
        width: 53px;
      }
      &:not(:last-child) {
        margin-right: 42px;
      }
    }

    .control-item {
      position: relative;
      display: flex;
      align-items: center;
      width: 16px;
      height: 16px;
      cursor: pointer;
      &[disabled] {
        cursor: default;
      }
    }
    .inspection-filter {
      padding-bottom: 20px;
      display: flex;
      justify-content: flex-end;
      &-enter {
        height: 0;
        overflow: hidden;
      }
      &-enter-active {
        height: 54px;
        transition: height 200ms ease-in;
      }
      &-leave {
        height: 54px;
        overflow: hidden;
      }
      &-leave-active {
        height: 0;
        transition: height 200ms ease-in;
      }
      .inspection-filter-item {
        padding-left: 20px;
        display: flex;
        align-items: center;

        .label {
          padding-right: 10px;
          color: $coolGrayTwo;
          font-size: 0.928rem;
        }
        .sberSelect {
          max-width: 151px;
        }
        .date {
          display: flex;
          .sberDateInput {
            width: 115px;
            &:first-child {
              input {
                border-radius: 2px 0 0 2px;
                border-right-color: transparent;
                &:focus {
                  border-right-color: $softGreen;
                }
              }
            }
            &:last-child {
              input {
                border-radius: 0 2px 2px 0;
              }
            }
          }
        }
      }
    }
  }
}
