@import "../../assets/base/colors";

:global{
  .basemap-popup{
    .base-maps{
      &:after, &:before{
        content: '';
        display: table;
        clear: both;
      }
      .base-map{
        float: left;
        margin-right: 30px;
        .button{
          width: 100px;
          height: 100px;
          border-radius: 100%;
          position: relative;
          cursor: pointer;
          &.doubleGIS{
            background-image: url(../../assets/images/2GIS-map.png);
          }
          &.osm{
            background-image: url(../../assets/images/Google-Map.png);
          }
          &.selected{
            &:after{
              content: '';
              display: block;
              background-image: url(../../assets/images/selectedMap.png);
              opacity: .7;
              width: calc(100% - 12px);
              height: calc(100% - 12px);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 100%;
            }
          }
        }
        .name{
          color: $coolGrayTwo;
          font-size: 14px;
          text-transform: uppercase;
          text-align: center;
          margin-top: 10px;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}