@import "../../assets/base/colors";

.map-control-popup {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 7px 15px 0 rgba(24, 25, 26, 0.15);
  max-width: 340px;
  max-height: 100%;
  overflow-y: auto;
}

.map-popup-control-header {
  font-size: 1.285rem;
  color: $darkGrey;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balun {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .circle {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
}

.layers-list-item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  .checkbox-wrapper {
    transform: scale(0.89);
  }
  img.pin {
    margin-left: 10px;
  }
  .balun {
    margin-left: 15px;
    flex-shrink: 0;
  }
  .label {
    margin-left: 15px;
    color: $steel;
  }
}

.layers-list-block {
  padding-top: 25px;
  border-top: 1px solid $paleGrey;
  margin-top: 20px;
  .layers-list-item {
    padding: 0;
  }
}