@import "../../assets/base/colors";

.map-mode-control-popup {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 7px 15px 0 rgba(24, 25, 26, 0.15);
  max-width: 290px;
  max-height: 100%;
  overflow-y: auto;

  .map-popup-control-header {
    font-size: 1.285rem;
    color: $darkGrey;
    padding-bottom: 20px;
  }
  .map-mode-item-block {
    display: flex;
    justify-content: space-between;
    .map-mode-item {
      .circle {
        width: 100px;
        height: 100px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
      }
      .label {
        padding-top: 10px;
        text-align: center;
        color: $coolGrayTwo;
      }
      &.active {
        .circle {
          cursor: default;
          &:before {
            content: '';
            width: 88px;
            border-radius: 50%;
            opacity: 0.75;
            top: 50%;
            left: 50%;
            margin-top: -44px;
            margin-left: -44px;
            height: 88px;
            display: block;
            position: absolute;
            background: $softGreen url(../../assets/icons/svg_ui_check.svg) center center no-repeat;
            background-size: 20px 17px;
          }
        }
      }
    }
  }
}
