@import "../../assets/base/colors.scss";

:global {
  .header-title-block {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .title {
      font-size: 1.286rem;
      font-weight: normal;
      color: $darkGrey;
    }

    .controls {
      display: flex;
    }

    .section {
      display: flex;
      width: 90px;
      justify-content: space-between;
      &:first-child,
      &:last-child{
        width: 53px;
      }
      &:not(:last-child) {
        margin-right: 42px;
      }
    }

    .control-item {
      position: relative;
      display: flex;
      align-items: center;
      width: 16px;
      height: 16px;
      cursor: pointer;
      &[disabled] {
        cursor: default;
        &:before {
          position: absolute;
          display: block;
          content: '';
          background: $mainBackground;
          opacity: 0.5;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}