@import "../../../assets/base/colors.scss";

:global {
  .sberDateInput {
    position: relative;
    .react-datepicker__input-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 9px;
      cursor: pointer;
    }
    .react-datepicker__tether-enabled{
      & + input {
        border-color: $softGreen !important;
      }
    }
    input {
      background-color: #fff;
      border: 1px solid $paleGrey;
      border-radius: 2px;
      line-height: 2.286rem;
      font-size: 1rem;
      padding: 0 0.8571rem 0 2.2rem;
      width: 100%;
      box-shadow: none;
      appearance: none;
      outline: none;
      &:focus {
        border-color: $softGreen;
      }
    }
    .clearDatePicker{
      position: absolute;
      right: 7px;
      top: 50%;
      height: 10px;
      width: 10px;
      background: none;
      border: none;
      padding: 0;
      transform: translateY(-50%);
    }
  }

  .sberCalendar {
    box-shadow: 0 7px 15px 0 rgba(24, 25, 26, 0.22);
    border: none;
    font-size: 14px;

    .react-datepicker {
      &__header {
        background-color: #fff;
        border: none;
      }
      &__triangle {
        display: none;
      }
      &__day {
        width: 2.143rem;
        line-height: 2.143rem;
        &-name {
          width: 2.143rem;
          line-height: 2.143rem;
        }
        &-names {
          margin-top: 0.7857rem;
        }
        &--outside-month {
          color: $coolGrayTwo;
          &.react-datepicker__day--in-range, &.react-datepicker__day--in-selecting-range{
            color: rgba(255, 255, 255, .7)
          }
        }
        &--keyboard-selected, &--selected, &--in-range, &--in-selecting-range {
          border-radius: 50%;
          background-color: $softGreen;
        }
        &:hover {
          border-radius: 50%;
        }
      }
      &__month {
        margin: 0.7857rem;
        margin-top: 0;
      }
    }
  }
}