@import "../../assets/base/colors";
.popover-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  label {
    font-size: .93rem;
    color: $coolGrayTwo;
    margin-bottom: .5rem;
    font-weight: 300;
  }
  .select-field-input, .auto-complete-input{
    margin-bottom: 1.5rem;
  }

  .clear-block {
    text-align: center;
  }

  .clear-button {
    color: $dustyOrange;
    text-decoration: none;
    cursor: pointer;
  }
}
