@import "../../assets/base/colors.scss";

.plan-progress-bar {
  width: 119px;
  height: 6px;
  border-radius: 3px;
  background-color: $mainBackground;
  .plan-progress-bar-percent {
    height: 100%;
    border-radius: 3px;
  }
}

.plan-progress-bar-label {
  padding-left: 10px;
}