@import "../../assets/base/colors";
:global {
  .sber-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    td, th {
      vertical-align: middle;
    }

    .header-container {
      will-change: transform;
    }

    .body-container {
      overflow: auto;
      height: 100%;
      table {
        table-layout: fixed;
      }
    }

    .cell {
      display: flex;
      height: 56px;
      border-bottom: 1px solid $paleGrey;
      align-items: center;
      white-space: nowrap;
      color: $steel;
      font-weight: 400;
      padding-left: 1em;
      padding-right: 2em;
      line-height: 1.5rem;
    }
    .address {
      white-space: normal;
      min-width: 27em;
    }

    .classifier {
      white-space: normal;
      max-width: 19em;
    }

    .img {
      justify-content: center;
      cursor: pointer;
    }

    .header {
      font-weight: 500;
      color: $darkGrey;
    }

    .text {
      line-height: 1.5rem;
    }

    .control {
      padding-right: 1rem;
    }

    .hidden {
      height: 0;
      overflow: hidden;
      border-bottom: none;
    }

    tr {
      background-color: #fff;
      &.odd {
        background-color: $oddColor;
      }
    }
  }
}