@import "../../assets/base/colors";
.sber-grid {
  .row {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .corner-cell {
    flex: 0 0 75px;
    z-index: 10;
  }

  .left-column-grid {
    overflow: hidden !important;
  }
  .header-grid {
    width: 100%;
    overflow: hidden !important;
  }
  .body-grid {
    width: 100%;
  }
  .cell.header {
    color: $darkGrey;
    font-weight: 500;
    text-align: left;
  }

  .cell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .5em;
    overflow: hidden;
    word-wrap: break-word;
    border-bottom: 1px solid $paleGrey;
    color: $steel;
    font-weight: 400;
    background-color: #fff;
  }
  .--odd {
    background-color: $oddColor;
  }
}