@import "../../assets/base/colors";
.sber-grid {
  height: 100%;
  width: 100%;
  flex-grow: 1;

  .cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    padding: 0 .5em;
    overflow: hidden;
    border-bottom: 1px solid $paleGrey;
    color: $steel;
    font-weight: 400;
    background-color: #fff;
  }

  .header {
    font-weight: 500;
    color: $darkGrey;
  }

  .img {
    justify-content: center;
  }

  .--odd {
    background-color: $oddColor;
  }
}