@import "../assets/fonts/fonts";
@import "../assets/base/main";
@import "../assets/base/colors";
@import "Login.scss";

$popupObjectHeaderFooterHeight: 75px;
$popupObjectLabelWidth: 240px;
$PopupObjectInputHeight: 32px;

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 23, 26, .85);
  z-index: 999;
  .popup-container {
    position: absolute;
    margin: auto;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 641px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 7px 15px 0 rgba(24, 25, 26, 0.5);
    .popup-close {
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    .popup-header {
      padding: 0 30px;
      height: $popupObjectHeaderFooterHeight;
      font-size: 1.285rem;
      overflow: hidden;
      border-bottom: 1px solid $paleGrey;
      display: flex;
      align-items: center;
    }
    .popup-main {
      padding: 20px;
      overflow-y: scroll;
      height: calc(100% - #{$popupObjectHeaderFooterHeight} * 2);
      .field-group {
        display: flex;
        padding-bottom: 20px;
        label {
          text-align: right;
          padding-right: 20px;
          line-height: $PopupObjectInputHeight;
          font-size: 0.928rem;
          color: $coolGrayTwo;
          width: $popupObjectLabelWidth;
        }
        input, textarea {
          width: calc(100% - #{$popupObjectLabelWidth});
          padding: 0 10px;
          height: $PopupObjectInputHeight;
          border: 1px solid $paleGrey;
          border-radius: 2px;
        }
        textarea {
          resize: none;
          height: 80px;
        }
        .object-id {
          line-height: $PopupObjectInputHeight;
          width: calc(100% - #{$popupObjectLabelWidth});
          color: $darkGrey;
        }
      }
    }
    .popup-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 30px;
      border-top: 1px solid $paleGrey;
      height: $popupObjectHeaderFooterHeight;
      overflow: hidden;
      .btn-white {
        margin-right: 20px;
      }
    }
  }
}

.btn-white {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 24px;
  color: $darkGrey;
  font-weight: 500;
  border-radius: 17px;
  box-shadow: 0 3px 6px 0 rgba(73, 75, 77, 0.2);
}