@import "../../assets/base/colors";

:global {
  .map-popup-header {
    font-size: 1.285rem;
    color: $darkGrey;
    padding: 30px;
  }


  .billet {
    color: #fff;
    font-size: 0.785rem;
    padding: 4px 5px;
    display: inline-block;
    font-weight: 500;
    border-radius: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
  }
}